.App {
  text-align: center;
}
.App-header {
  color: white;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
.imagedata {
  object-fit: cover;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  grid-row: 1 /-1;
  grid-column: 1 / -1;
  z-index: 0;
}
.boxData {
  display: contents;
}

@media (max-width: 414px) {
  .boxData {
    display: grid;
    grid-gap: 20px;
  }
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  /* show a hand cursor on hover; some argue that we
  should keep the default arrow cursor for buttons */
  cursor: pointer;
}
